# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.swp
*.egg-info/
*.egg

# Virtualenv
venv/
env/
.venv/

# Django
db.sqlite3
/media/
*.sqlite3
/staticfiles/
*.log

# IDEs
.vscode/
.idea/
.DS_Store

# OS
Thumbs.db
